

.tab-items{
    
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    &_single{
        display: flex;
      align-items: center;
      gap: 1rem;
    }
    &_img{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
}