

.tab-items{
    
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    &_single{
        display: flex;
      align-items: center;
      gap: 1rem;
    }
    &_img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    &_content{
        h4{
            font-size: 0.7rem;
        }
        p{
            font-size: 0.7rem;
        }
    }
}