.latest-drop{
    width: 70vw;
    margin: auto;
    //  overflow: scroll;
    &_cards{
         overflow: scroll;
        &_flow{
 display: flex;
    gap: 1rem;
 
        }
        
    // width: 70vw;
    }
    &_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        padding: .2rem;
        h1{
            border-bottom: 3px solid gray;
        }
    }
   
}
//   .card-width{
//     width: 80rem;
//    }
.demo{
    width: 380px;
}