


.card-section{
    width: 300px;
    height: 470px;
    // padding: 0 20px;
    // transform: translate(38%, 24%);
border: 1px solid black;
    &_head{
        display: flex;
        justify-content: space-between;
        .sub{
            display: flex;
            gap: 0.5rem;
        }
    }
    .main-img{
        width: 100%;
        height: 340px;
    }
    .person-img{
        margin-top: -1.2rem;
    }
    &_info{
        margin: 0 1rem;
        .person-img {
			display: flex;
			img {
				box-sizing: content-box;
				height: 2rem;
				width: 2rem;
				border-radius: 50%;
				border: 1px solid #fff;

				&:not(:last-child) {
					margin-right: -1rem;
				}
			}
		}
    }
    .info-container{
        display: flex;
        justify-content: space-between;
        margin: 0.6rem 0;
        &_first, &_second{
            h5, h3{
                font-weight: 800;
                font-size: 0.9rem;
            }
            p{
                font-size: 0.7rem;
            }
            button{
                padding: 0.4rem 0.6rem;
                font-size: 0.6rem;
               margin-top: 0.6rem;
              font-weight: 800;
            }
        }
        .align{
            text-align: end;
        }
    }
}