@import '../../assets/variables.scss';

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: rgba(98, 94, 94, 0.596);
  color: #fff;
  z-index: 11;
  .connect-btn{
    background: rgb(255, 119, 119);
    border-radius: 6px;
    transition: .4s;
  }
  .connect-btn:hover{
    border: 2px solid rgb(255, 119, 119);
    background: none;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 0 6rem;
}

.navbar-toggle {
  display: none;
}

.navbar-menu {
  display: flex;
}

.navbar-menu.is-open {
  flex-direction: column;
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
 background-color: rgba(56, 55, 55, 0.596);
}

.navbar-nav {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 5rem;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 10%;
  }
  .navbar-toggle:hover{
    background: none;
  }

  .navbar-toggle-icon {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: auto;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.is-open {
    display: flex;
    flex-direction: column;
  }
}