
.market-section{
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width:800px){
    .market-section{
        flex-direction: column-reverse;
        // justify-content: flex-start;
        padding-top: 20rem;
    }
}