@import '../../assets/variables.scss';


.create-account{
    border: 1px solid black;
    background: rgba(98, 97, 98, 0.2);
    padding: 2rem;
    h1{
       padding-bottom: 1.5rem;
       text-align: center;
       color: rgb(184, 182, 182);
    }
    .form {
        text-align: end;
    }
    button{
        margin: 0 1rem;
        width: 8rem;
       
    }
    .form-info{
        padding: 1rem;
    }
    .btn-creator{
        display: flex;
        justify-content: flex-end;
    }
    .btns{
        display: flex;
        justify-content: center;
        button{
            background: transparent;
            border: 1px solid grey;
            width: 9rem;
        }

    }
}